body { 
    background-color: #2a2a2f; 
    color: #d6ecff; 
}

a { color: #7fffdd; }
a:visited { color: #7fffdd; }
.excluido { color: #ff6200; }
.destaque { color: #aabf5f; }
.forum { color: #ffa500; }
.video { color: #ff6d6d; }
.blog { color: #5dff5d; }